@import "../../global.scss";

.works {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  // arrows on the page 
  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    
    &.left {
      left: 400px;
      transform: rotateY(180deg);
     
    }

    &.right {
      right: 400px;
    }
    @media screen and (max-width: 1024px) {
      &.left{
        left: 20px;
      }

      &.right{
        right: 20px;
      }
    }


   
  }

  // the main box that has the info has left side and right side with the image 

  .slider {
    height: 550px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease 1600ms;
      transform-style: preserve-3d;

      &:hover{
        transform:  rotateX(20deg) rotateY(10deg) rotateZ(-5deg) 
        
      }

      .item {
        width: 600px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              

              img {
                width: 45px;
                height: 35px;

                
              }
            }
            h2 {
              font-size: 20px;
              margin-top: 30px;

              
            }
            p {
              font-size: 15px;
              margin-top: 20px;
              
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
              margin-top: 70px;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img.tippy {
            width: 400px;
            transform: rotate(-10deg);
       
          }
        }
      }
    }
    
  
  }
  @media screen and (max-width:576px) {
    .slider{
      height: 400px;

      .container{
        .item{
          width: 420px;

          .left{
           .leftContainer{
            h2 {
              font-size: 18px;
              margin-top: 10px;

              
            }
             p{
               font-size: 11px;
               font-weight: 700;
               margin-top: 10px;
              //  text-align:justify; /* For Edge */
        

             }

             span {
              margin-top: 10px;
            }
           }
          }

          
        }


      
      }

    }
   }

}