.app{
    height: 100vh;
    
    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #8A2BE2;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; // for firefox


        & ::-webkit-scrollbar{
            display: none;
            
        }

     


        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }

        


    }

   




   
}




// position: fixed;
// right: 0;
// background: linear-gradient(to top, #008aff, #00ffe7);

// animation: animate 5s linear infinite;


// @keyframes animate {
//     0%,100%{
//         filter: hue-rotate(0deg);
//     }
//     50%
//     {
//         filter: hue-rotate(360deg);
//     }
// }

// &::before{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(to top, #008aff, #00ffe7);
//     filter: blur(30px);
// }
